.iconBox{
    border: 1px solid black;
    border-radius: 5px;
}

.box {
    width: 450px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-left: 33%;
    padding: 5px;
    border-radius: 5px;
}

.centered {
    margin: 0;
}

.floatLeft {
    float: left;
    padding: 5px;
}

.floatRight {
    float: right;
    padding: 5px;
}

.bgGrey {
    background-color: gray;
}